# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.env/
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# Generated outputs and logs
outputs/
*.log

# Test / cache
.pytest_cache/
.mypy_cache/


/data/processed/
/data/uploaded/
/logs/
/monitoring/logs/

# Notebooks
.ipynb_checkpoints/

# Node/Streamlit cache
frontend/node_modules/
frontend/.streamlit/

# OS
.DS_Store
Thumbs.db
